= form_for @widget, :html => {:class => 'form-horizontal'} do |f|
  = hidden_field_tag "dashboard_id", params[:dashboard_id]
  %div.control-group
    = f.label :name, :class => "control-label"
    %div.controls
      = f.text_field :name
  %div.control-group
    = f.label :job, :class => "control-label"
    %div.controls
      = select_tag "job_id", options_from_collection_for_select(@jobs, "id", "name")
  %div.control-group
    = f.label :data, :class => "control-label"
    %div.controls
      = select_tag "data_type", options_from_collection_for_select(@widget.data_types, "to_s", "to_s")
  %div.control-group
    = f.label :layout, :class => "control-label"
    %div.controls
      = select_tag "layout", options_from_collection_for_select(@widget.layouts, "to_s", "to_s")
  %div.control-group
    = f.label :size, :class => "control-label"
    %div.controls
      = select_tag "size", options_from_collection_for_select(@widget.sizes, "to_s", "to_s")
