= form_for @widget, :html => {:class => 'form-horizontal'} do |f|
  = hidden_field_tag "dashboard_id", params[:dashboard_id]
  %div.control-group
    = f.label :name, :class => "control-label"
    %div.controls
      = f.text_field :name
  %div.control-group
    = f.label :job, :class => "control-label"
    %div.controls
      = select_tag "job", options_from_collection_for_select(@jobs, "id", "name")
  %div.control-group
    = f.label :content, :class => "control-label"
    %div.controls
      = select_tag "content", "<option>Commits</options><option>Health</options><option>Status</options><option>Duration</options>".html_safe
  %div.control-group
    = f.label :kind, :class => "control-label"
    %div.controls
      = select_tag "kind", "<option>Bar</options><option>Line</options><option>Text</options>".html_safe
  %div.control-group
    = f.label :widget_size, :class => "control-label"
    %div.controls
      = select_tag "size", "<option>Small</options><option>Medium</options><option>Large</options>".html_safe
  %div.control-group
    %div.input-append.date.from{"data-date" => "12-12-2012", "data-date-format"=>"dd-mm-yyyy"}
      = f.label :from, :class => "control-label"
      %div.controls
        = f.text_field :name
        %span.add-on
          %i.icon-th
  %div.control-group
    %div.input-append.date.to{"data-date" => "12-12-2012", "data-date-format"=>"dd-mm-yyyy"}
      = f.label :to, :class => "control-label"
      %div.controls
        = f.text_field :name
        %span.add-on
          %i.icon-th
