= content_for :head do
  = javascript_include_tag :dashboards

= content_for :nav do
  %li.active
    = link_to @dashboard.name, dashboard_path(@dashboard)
= content_for :nav_action do
  %a#add-widget.btn.btn-success.pull-right{:href => new_dashboard_widget_path(params[:id]), "data-target" => "#modal", "data-toggle" => "modal"}
    Add Widget

%div.row-fluid
- @widgets.each do |widget|
  %div.span7.well
    %h4= widget.name unless widget.name.nil?
    %h5= widget.job.name unless widget.job.nil?
    %p= widget.data_type_name
    %p= widget.layout_name
    %p= widget.size_name
    %p= widget.from
    %p= widget.to



%div.clear.center


%div#modal.modal.hide.fade{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"Add Widget", "aria-hidden"=>"true"}
  %div.modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}
      x
    %h3#myModalLabel
      Add Widget
  %div.modal-body
  %div.modal-footer
    %button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
      Close
    %button.btn.btn-primary#new-widget{:href => dashboard_widgets_path(@dashboard)}
      Add Widget
