= content_for :head do
  = javascript_include_tag "model/base_model.js"
  = javascript_include_tag "model/widget_model.js"
  = javascript_include_tag "controller/widget_controller.js"
  = javascript_include_tag "controller/pie_widget_controller.js"
  = javascript_include_tag "controller/text_widget_controller.js"
  = javascript_include_tag "controller/add_widget_controller.js"
  = javascript_include_tag "controller/dashboards_controller.js"
  = javascript_include_tag "view/widget_view.js"
  = javascript_include_tag "view/text_widget_view.js"
  = javascript_include_tag "view/dashboard_view.js"
  = javascript_include_tag "pie-chart.js"

= content_for :nav do
  %li.active
    = link_to @dashboard.name, dashboard_path(@dashboard)
= content_for :nav_action do
  %a#add-widget.btn.btn-success.pull-right{:href => new_dashboard_widget_path(params[:id]), "data-target" => "#modal", "data-toggle" => "modal"}
    Add Widget

%div.widgets
  %h1
  - @widgets.each do |widget|
    - if widget.layout_name == "pie"
      %div.pie-chart.graph.widget{:class => widget.data_type_name}
        %h1
          = widget.name
    - else
      - if widget.job
        %div.graph.widget.project-development-stats{:data => {'job-id' => "#{widget.job.id}"}}
          %h1
            = widget.name
          %ul
            %li.builds-failed
              %span.figure{:data => {'old-value' => "#{widget.job.failed_builds}"}}
                = widget.job.failed_builds
              = image_tag "graphs/icon-builds-failed.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Builds Failed
            %li.total-lines
              %span.figure{:data => {'old-value' => "#{widget.job.total_lines}"}}
                = widget.job.total_lines
              = image_tag "graphs/icon-total-lines.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Total Lines
            %li.lines-added
              %span.figure{:data => {'old-value' => "#{widget.job.insertions}"}}
                = widget.job.insertions
              = image_tag "graphs/icon-lines-added.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Lines Added
            %li.lines-removed
              %span.figure{:data => {'old-value' => "#{widget.job.deletions}"}}
                = widget.job.deletions
              = image_tag "graphs/icon-lines-removed.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Lines Removed
            %li.build-breaker
              %span.figure{:data => {'old-value' => "#{widget.job.build_breaker}"}}
                = widget.job.build_breaker
              = image_tag "graphs/icon-bugs-remaining.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Build Breaker
          %ul
            %li.builds-successful
              %span.figure{:data => {'old-value' => "#{widget.job.successful_builds}"}}
                = widget.job.successful_builds
              = image_tag "graphs/icon-builds-succeeded.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Builds Succeeded
            %li.tests-passed
              %span.figure{:data => {'old-value' => "#{widget.job.passed_tests}"}}
                = widget.job.passed_tests
              = image_tag "graphs/icon-tests-passed.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Tests Passed
            %li.tests-skipped
              %span.figure{:data => {'old-value' => "#{widget.job.skipped_tests}"}}
                = widget.job.skipped_tests
              = image_tag "graphs/icon-tests-skipped.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Tests Skipped
            %li.tests-failed
              %span.figure{:data => {'old-value' => "#{widget.job.failed_tests}"}}
                = widget.job.failed_tests
              = image_tag "graphs/icon-tests-failed.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Tests Failed
            %li.most-commits
              %span.figure{:data => {'old-value' => "#{widget.job.most_commits}"}}
                = widget.job.most_commits
              = image_tag "graphs/icon-lines-added.svg", {:width => "80", :height => "80", :class => "icon"}
              %span.label
                Most Commits

%div.clear.center

%div#modal.modal.hide.fade{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"Add Widget", "aria-hidden"=>"true"}
  %div.modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}
      x
    %h3#myModalLabel
      Add Widget
  %div.modal-body
  %div.modal-footer
    %button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
      Close
    %button.btn.btn-primary#new-widget{:href => dashboard_widgets_path(@dashboard)}
      Add Widget
-#
= content_for :bottom do
  = javascript_include_tag "http://d3js.org/d3.v3.min.js"
  = javascript_include_tag "pie-chart.js"
  = javascript_include_tag "project-development-stats.js"
