= content_for :head do
  = javascript_include_tag :dashboards
  = javascript_include_tag "controller/widgets_controller.js"
  = javascript_include_tag "view/widget_view.js"
  = javascript_include_tag "project-development-stats.js"
  = javascript_include_tag "pie-chart.js"

= content_for :nav do
  %li.active
    = link_to @dashboard.name, dashboard_path(@dashboard)
= content_for :nav_action do
  %a#add-widget.btn.btn-success.pull-right{:href => new_dashboard_widget_path(params[:id]), "data-target" => "#modal", "data-toggle" => "modal"}
    Add Widget

%div.row-fluid
- @widgets.each do |widget|
  %div.graph.widget.project-development-stats{:data => {'job-id' => "#{widget.job.id}"}}
    %ul
      %li.total-files
        %span.figure{:data => {'old-value' => "2,288"}}
          2,888
        = image_tag "graphs/icon-total-files.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Total Files
      %li.total-lines
        %span.figure{:data => {'old-value' => "#{widget.job.total_lines}"}}
          = widget.job.total_lines
        = image_tag "graphs/icon-total-lines.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Total Lines
      %li.lines-added
        %span.figure{:data => {'old-value' => "#{widget.job.insertions}"}}
          = widget.job.insertions
        = image_tag "graphs/icon-lines-added.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Lines Added
      %li.lines-removed
        %span.figure{:data => {'old-value' => "#{widget.job.deletions}"}}
          = widget.job.deletions
        = image_tag "graphs/icon-lines-removed.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Lines Removed
    %ul
      %li.total-tags
        %span.figure{:data => {'old-value' => "0"}}
          2,888
        = image_tag "graphs/icon-total-tags.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Total Tags
      %li.tests-passed
        %span.figure{:data => {'old-value' => "#{widget.job.passed_tests}"}}
          = widget.job.passed_tests
        = image_tag "graphs/icon-tests-passed.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Tests Passed
      %li.tests-skipped
        %span.figure{:data => {'old-value' => "#{widget.job.skipped_tests}"}}
          = widget.job.skipped_tests
        = image_tag "graphs/icon-tests-skipped.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Tests Skipped
      %li.tests-failed
        %span.figure{:data => {'old-value' => "#{widget.job.skipped_tests}"}}
          = widget.job.skipped_tests
        = image_tag "graphs/icon-tests-failed.svg", {:width => "80", :height => "80", :class => "icon"}
        %span.label
          Tests Failed
-#%div{:class => ["span","well",widget.size_name]}
-#  %h4= widget.name unless widget.name.nil?
-#  %h5= widget.job.name unless widget.job.nil?
-#  %p= widget.data_type_name
-#  %p= widget.layout_name
-#  %p= widget.size_name
-#  %p= widget.from
-#  %p= widget.to

%div.clear.center

%div#modal.modal.hide.fade{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"Add Widget", "aria-hidden"=>"true"}
  %div.modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"}
      x
    %h3#myModalLabel
      Add Widget
  %div.modal-body
  %div.modal-footer
    %button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
      Close
    %button.btn.btn-primary#new-widget{:href => dashboard_widgets_path(@dashboard)}
      Add Widget
-#
