!!!

%html
  %head
    %title JenkinsDashboard
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = yield :head
  %body
    %div.navbar
      %div.navbar-inner
        %a.brand.title{:href=>"/"}
          Jenkins Dashboard
        %ul.nav
          %li
            = link_to "Home", "/"
          = yield :nav
        = yield :nav_action

    = yield
